<section class="cta-banners text-center text-white py-5 w-75 m-auto" style="background: url('{{ alias("@web") }}/img-bg.webp');">
  <div class="container position-relative">
    <h2 class="fw-bold">
      A <span class="highlight-t">Digital Marketing</span> Agency for Small<br>
      Businesses You Can Trust!
    </h2>
    <p class="lead mb-4">
      Ready to offer immense exposure to your small business? We offer competent marketing and design/
      development services to SMEs and large businesses. Whatever your industry is, we have a perfect
      plan for your business.<br>
      Partner with Click Media Lab for world-class digital marketing solutions personalized to your goals.
    </p>
    <a href="/contact" class="btn btn-light shadow-sm">
      Hear us out <i class="bi bi-arrow-right ms-2"></i>
    </a>
  </div>
</section>