<div class="ticker">
  <div class="ticker-track text-light">
    <span>Digital Marketing</span>
    <span>Strategy</span>
    <span>Creative Design & Content</span>
    <span>Email Marketing</span>
    <span>Paid Advertisement</span>
    <span>Digital Marketing</span>
    <span>Strategy</span>
    <span>Creative Design & Content</span>
    <span>Email Marketing</span>
    <span>Paid Advertisement</span>
  </div>
</div>
